In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
customers = pd.read_csv('data_like/customer_train.csv')
hack = pd.read_excel('data_like/Hack_desc.xlsx')
stories = pd.read_csv('data_like/stories_description.csv')
reaction = pd.read_csv('data_like/stories_reaction_train.csv')
transactions = pd.read_csv('data_like/transactions.csv')

In [140]:
transactions

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_id,merchant_mcc
0,855115,7,3,1500,4554547,5411
1,997036,6,6,0,1657528,5411
2,398237,5,24,2500,26375569,5813
3,997036,6,2,0,16304402,5411
4,291636,7,25,0,1259505,5411
5,844503,5,24,3500,12790541,5411
6,844503,6,22,3500,12790541,5411
7,862192,7,14,0,65419694,5814
8,862192,5,26,0,97570081,5411
9,862192,7,11,0,65419694,5814
10,862192,7,23,0,19929652,5814
11,564201,7,5,0,6646839,5999
12,564201,7,3,0,8215883,5411
13,661331,6,6,0,6494839,5411
14,408749,6,12,1500,14334966,5211
15,564201,7,24,0,18567776,5912
16,862192,7,9,0,65419694,5814
17,177124,5,31,6500,35163474,8099
18,862192,7,18,0,65419694,5814
19,177826,7,1,1500,6571805,5983
20,895631,5,28,1000,24461602,5331
21,194526,6,9,0,4913057,5942
22,194526,7,9,0,8014325,5812
23,479673,7,24,0,919544,5411
24,479673,7,24,0,919544,5411
25,375979,6,10,5000,13363449,8099
26,296423,6,23,4000,44311528,4215
27,862312,6,24,0,23680046,5814
28,36823,7,22,0,2954794,5411
29,36823,6,10,0,2954794,5411
...,...,...,...,...,...,...
3951085,901050,7,3,0,77187702,4121
3951086,901050,6,27,0,77187702,4121
3951087,901050,5,24,0,77187702,4121
3951088,901050,6,6,0,77187702,4121
3951089,901050,7,4,0,77187702,4121
3951090,901050,6,4,0,77187702,4121
3951091,901050,6,4,0,77187702,4121
3951092,901050,7,4,0,77187702,4121
3951093,24846,6,21,500,101188474,5541
3951094,819012,6,7,500,114732022,5941
3951095,257682,6,10,4000,8356199,5691
3951096,783482,6,22,1500,7209609,5411
3951097,289468,7,23,0,81932055,5411
3951098,289468,6,2,0,77187702,4121
3951099,603825,6,4,0,77187702,4121
3951100,246968,6,22,6000,111435540,6300
3951101,303082,7,2,1000,97783948,5331
3951102,561987,7,8,0,77187702,4121
3951103,561987,7,1,0,7653547,5499
3951104,561987,7,8,0,77187702,4121
3951105,443214,5,27,500,77187702,4121
3951106,530852,7,6,2000,115315512,5200
3951107,112957,7,20,3000,113635566,5411
3951108,346407,7,22,500,7761951,5411
3951109,233851,5,24,1000,20440916,5411
3951110,153986,6,30,29500,92701772,5719
3951111,346407,6,18,500,120278116,4816
3951112,358612,6,6,2500,111686898,5691
3951113,346407,6,7,500,2765037,5411
3951114,346407,7,7,500,122925212,5331

In [9]:
customers.head()

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,gender_cd,age,marital_status_cd,children_cnt,first_session_dttm,job_position_cd,job_title
0,894436,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,MAR,0.0,2018-03-20 09:10:16,1,Неруководящий сотрудник - обсл. Персонал
1,524526,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,20.0,UNM,0.0,2017-03-29 20:38:45,16,NaN
2,498134,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,25.0,UNM,0.0,2018-03-12 11:25:06,22,NaN
3,278941,NaN,NaN,UTL,CLS,NaN,UTL,UTL,M,25.0,NaN,NaN,2016-02-21 18:47:51,16,Неруководящий сотрудник - специалист
4,877312,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,0.0,2018-03-07 11:17:02,22,NaN

In [23]:
hack.values

array([['customer_id', 'Идентификатор клиента'],
       ['product_X',
        'Статус продукта. OPN - открыт, но не утилизирован. UTL - утилизирован. CLS - закрыт'],
       ['gender_cd', 'Пол. M - мужской. F - женский'],
       ['age', 'Возраст в годах'],
       ['marital_status_cd', 'Семейный статус. См. словарь соответствия'],
       ['children_cnt', 'Количество детей в штуках'],
       ['first_session_dttm',
        'Дата и время первой сессии в приложении или личном кабинете на сайте'],
       ['job_position_cd',
        'Категория занимаемой должности. См. словарь соответствия'],
       ['job_title', 'Занимаемая должность'],
       [nan, nan],
       ['transactions', nan],
       ['customer_id', 'Идентификатор клиента'],
       ['transaction_month', 'Месяц транзакции'],
       ['transaction_day', 'День транзакции'],
       ['transaction_amt', 'Сумма транзакции в рублях'],
       ['merchant_id',
        'Идентификатор магазина, в котором была совершена транзакция'],
       ['merchant_mcc', 'MCC-категория магазина'],
       [nan, nan],
       ['stories_reaction_train', nan],
       ['customer_id', 'Идентификатор клиента'],
       ['story_id', 'Идентификатор истории'],
       ['event_dttm', 'Дата действия'],
       ['event',
        'Тип действия. like - лайк или сохранение. view - глубокий просмотр (более 10 секунд). skip - пролистанная история (менее 5 секунд). dislike - дизлайк'],
       [nan, nan],
       ['stories_reaction_train', nan],
       ['customer_id', 'Идентификатор клиента'],
       ['story_id', 'Идентификатор истории'],
       ['event_dttm', 'Дата действия'],
       ['answer_id',
        'Идентификатор ответа, который надо передать в посчитанном файле'],
       [nan, nan],
       ['stories', nan],
       ['story_id', 'Идентификатор истории'],
       ['story_json', 'Исчерпывающее описание истории в формате json']],
      dtype=object)

In [12]:
reaction.head()

   customer_id  story_id           event_dttm event
0           15       138  2018-07-24 15:33:22  view
1           15       202  2018-06-04 08:08:08  skip
2           15       222  2018-06-17 13:44:45  skip
3           15       379  2018-05-23 05:41:43  skip
4           15       544  2018-07-25 02:16:29  view

In [13]:
transactions.head()

,customer_id,transaction_month,transaction_day,transaction_amt,merchant_id,merchant_mcc
0,855115,7,3,1500,4554547,5411
1,997036,6,6,0,1657528,5411
2,398237,5,24,2500,26375569,5813
3,997036,6,2,0,16304402,5411
4,291636,7,25,0,1259505,5411

In [14]:
stories.head()

   story_id                                         story_json
0       127  {"guid":"770a5bae-0e3f-4a6b-b924-bd87bd51a038"...
1       254  {"guid":"64f4c9ef-647b-4e04-b4d4-02297e939388"...
2       865  {"guid":"3482206b-d223-4aec-92ba-0150055cd68a"...
3      1491  {"guid":"5f4a9215-01de-4777-b70f-a18899db8f1c"...
4       598  {"guid":"ed8754bd-67be-4fa1-9289-5508d96f1fa4"...

In [19]:
stories.values[1]

array([254,
       '{"guid":"64f4c9ef-647b-4e04-b4d4-02297e939388","type":"root","description":"https://wiki.tcsbank.ru/pages/viewpage.action?pageId=276651383","properties":{"name":"Пополнить «Стрелку»","background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false},"icon_url":"https://static2.tinkoff.ru/portfolio/stories/icons/strelka_icon_18-07_zahod.png","icon_background":{"gradient":{"colors":[{"hex":"#b8a1e0","alpha":1},{"hex":"#00bee0","alpha":1}],"direction":"vertical"},"blur":false},"hide_page_status":false},"content":[{"guid":"dad1c413-2f10-438d-82b4-7a02d22b93ed","type":"story-page","properties":{"topMask":false,"bottomMask":false,"flip_interval":10,"background":{"gradient":{"colors":[{"hex":"#b8a1e0","alpha":1},{"hex":"#00bee0","alpha":1}],"direction":"diagonal"},"blur":false},"hidden":"false","disable_tap_zones":false,"log_view":false},"content":[{"guid":"4f83ea53-33f7-4654-8b77-7971f3438be2","type":"layout-linear","properties":{"orientation":"vertical","topMask":false,"bottomMask":false,"background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false},"hidden":"false","type":"grouped","size":{"height":{"value":0,"units":"pixels"},"width":{"value":0,"units":"pixels"}},"padding":{"bottom":0},"margin":{"top":0,"bottom":0,"left":0,"right":0},"corner_radius":{"value":0,"units":"pixels"},"border":{"width":0},"alignment":"center"},"content":[{"guid":"a4d1c10a-14c0-4c3b-bc5d-a7406c42e862","type":"layout-linear","properties":{"orientation":"horizontal","topMask":false,"bottomMask":false,"background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false},"hidden":"false","type":"grouped","padding":{"left":16},"alignment":"center"},"content":[{"guid":"ddfcac12-af17-44c6-83b2-625ad5792978","type":"image","properties":{"url":"https://static2.tinkoff.ru/portfolio/stories/icons/strelka_icon_18-07_zahod.png","alignment":"leading","size":{"height":{"value":88,"units":"pixels"},"width":{"value":88,"units":"pixels"}},"corner_radius":{"value":50,"units":"percent"},"content_mode":"fill","alpha":1,"background":{"gradient":{"colors":[{"hex":"#ffffff","alpha":0.2}],"direction":"vertical"},"blur":false}}}]},{"guid":"0aa0ba62-3a87-4ecd-9af0-844c0489d75c","type":"layout-linear","properties":{"orientation":"horizontal","topMask":false,"bottomMask":false,"background":{"gradient":{"colors":[]},"blur":false},"hidden":"false","type":"grouped","template_name":"text","size":{"height":{"value":0,"units":"pixels"},"width":{"value":0,"units":"pixels"}},"padding":{"top":0,"bottom":"0","left":16,"right":16},"margin":{"top":16,"bottom":"16","left":0,"right":0},"corner_radius":{"value":0,"units":"pixels"},"border":{"width":0}},"content":[{"guid":"ca860596-cccd-4af7-8237-313252a15549","type":"label","properties":{"text":"Как\xa0пополнить карту «Стрелка»","font_size":32,"font_type":"bold","font_color":{"hex":"#ffffff","alpha":1},"alignment":"leading","corner_radius":{"value":0,"units":"pixels"},"background":{"gradient":{"colors":[],"direction":"diagonal"},"blur":false},"size":{"height":{"value":0,"units":"pixels"},"width":{"value":0,"units":"pixels"}},"padding":{"top":0,"bottom":0,"left":0,"right":0},"margin":{"top":"0","bottom":"0","left":"0","right":"0"},"border":{"width":0}}}]},{"guid":"686bb66d-1620-4ca3-83b6-16e6e04dc7aa","type":"layout-linear","properties":{"orientation":"horizontal","topMask":false,"bottomMask":false,"background":{"gradient":{"colors":[{"hex":"#ffffff","alpha":0}]},"blur":false},"hidden":"false","type":"grouped","template_name":"text","size":{"height":{"value":0,"units":"pixels"},"width":{"value":0,"units":"pixels"}},"padding":{"top":16,"left":16,"right":16,"bottom":32},"margin":{"top":0,"bottom":"0","left":0,"right":0},"corner_radius":{"value":0,"units":"pixels"},"border":{"width":0}},"content":[{"guid":"47233012-ed03-4b5f-9cac-6fda0e78b838","type":"label","properties":{"text":"В приложении Тинькофф","font_size":20,"font_type":"normal","font_color":{"hex":"#ffffff","alpha":1},"alignment":"leading","corner_radius":{"value":0,"units":"pixels"},"background":{"gradient":{"colors":[],"direction":"diagonal"},"blur":false},"size":{"height":{"value":0,"units":"pixels"},"width":{"value":0,"units":"pixels"}},"padding":{"top":0,"bottom":0,"left":0,"right":0},"margin":{"top":0,"left":"0","right":"0"},"border":{"width":0}}}]}]}]},{"guid":"1a995bd2-6f8f-449a-9ef8-4473e072bba9","type":"story-page","description":"1","properties":{"topMask":false,"bottomMask":false,"flip_interval":15,"background":{"gradient":{"colors":[{"hex":"#00b3e0","alpha":1},{"hex":"#b596e1","alpha":1}],"direction":"diagonal"},"blur":false},"hidden":"false","disable_tap_zones":false,"log_view":false},"content":[{"guid":"87c78132-d0bd-49e1-980c-e9ff5fd2808d","type":"layout-linear","properties":{"orientation":"vertical","background":{"gradient":{},"blur":false},"hidden":"false","type":"grouped","size":{"height":{},"width":{}},"corner_radius":{"units":"pixels"},"alignment":"leading"},"content":[{"guid":"810f4387-f4e2-49fb-8cfa-43c66b23b8f5","type":"layout-linear","properties":{"orientation":"horizontal","background":{"gradient":{"colors":[{"hex":"#ffffff","alpha":0.3}]},"blur":false},"hidden":"false","type":"grouped","size":{"height":{}},"margin":{"bottom":12},"alignment":"center"},"content":[{"guid":"31665f1c-222d-440a-9492-0e48fb56f35d","type":"image","properties":{"url":"https://static2.tinkoff.ru/portfolio/stories/images/331_2a.png","alignment":"center","size":{"height":{"value":232,"units":"pixels"},"width":{"value":288,"units":"pixels"}},"margin":{"top":0,"bottom":0},"content_mode":"fill","alpha":1,"background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false}}}]},{"guid":"d0f83f54-2395-49b8-968b-bd3e56880280","type":"layout-linear","properties":{"orientation":"vertical","background":{"gradient":{"colors":[]},"blur":false},"hidden":"false","type":"grouped","size":{"height":{}},"corner_radius":{"units":"pixels"},"alignment":"center"},"content":[{"guid":"78abb5ec-1567-4444-9b86-7f155d3d1994","type":"layout-linear","description":"копия","properties":{"orientation":"horizontal","hidden":"false","type":"grouped","alignment":"leading"},"content":[{"guid":"f5096d22-ff2d-46c6-a11a-09ed5b5d2fa3","type":"label","properties":{"text":"Откройте вкладку «Оплатить» и\xa0выберите в\xa0платежах «Транспорт».","font_size":17,"font_type":"normal","font_color":{"hex":"#ffffff","alpha":1},"alignment":"leading","background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false},"margin":{"left":16,"right":16}},"content":[]}]},{"guid":"708f8fe3-0fbc-4001-a61a-94ff2bdaecdb","type":"layout-linear","properties":{"orientation":"horizontal","hidden":"false","type":"grouped","alignment":"center"}}]}]}]},{"guid":"b1c08429-3b2d-451f-9308-6d42e80101f7","type":"story-page","description":"2","properties":{"flip_interval":15,"background":{"gradient":{"colors":[{"hex":"#00b3e0","alpha":1},{"hex":"#b596e1","alpha":1}],"direction":"diagonal"},"blur":false},"hidden":"false"},"content":[{"guid":"8a61f4e8-7449-4ca0-885a-bbfc1e9299f9","type":"layout-linear","properties":{"orientation":"vertical","background":{"gradient":{},"blur":false},"hidden":"false","type":"grouped","size":{"height":{},"width":{}},"corner_radius":{"units":"pixels"},"alignment":"leading"},"content":[{"guid":"85219e0f-b6fb-45c4-b7a0-42fa6f952406","type":"layout-linear","properties":{"orientation":"horizontal","background":{"gradient":{"colors":[{"hex":"#ffffff","alpha":0.3}]},"blur":false},"hidden":"false","type":"grouped","size":{"height":{}},"margin":{"bottom":12},"alignment":"center"},"content":[{"guid":"ebf32c36-0e66-4ae4-914d-41faf008f58b","type":"image","properties":{"url":"https://static2.tinkoff.ru/portfolio/stories/images/331_3a.png","alignment":"center","size":{"height":{"value":232,"units":"pixels"},"width":{"value":288,"units":"pixels"}},"margin":{"top":0,"bottom":0},"content_mode":"fill","alpha":1,"background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false}}}]},{"guid":"9c6c4db0-b2ca-4ae6-a97f-6e07a0eac8cb","type":"layout-linear","properties":{"orientation":"vertical","background":{"gradient":{"colors":[]},"blur":false},"hidden":"false","type":"grouped","size":{"height":{}},"corner_radius":{"units":"pixels"},"alignment":"center"},"content":[{"guid":"8305fccb-8fb7-42b0-ad35-9630f22dd6ef","type":"layout-linear","description":"копия","properties":{"orientation":"horizontal","hidden":"false","type":"grouped","alignment":"leading"},"content":[{"guid":"e07ecc55-84d5-49f2-ad16-c62ac6be4084","type":"label","properties":{"text":"Выберите в меню карту «Стрелка».","font_size":17,"font_type":"normal","font_color":{"hex":"#ffffff","alpha":1},"alignment":"leading","background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false},"margin":{"left":16,"right":16}},"content":[]}]},{"guid":"1272d68c-130e-43f4-b5d7-d115111cfc62","type":"layout-linear","properties":{"orientation":"horizontal","hidden":"false","type":"grouped","alignment":"center"},"content":[]}]}]}]},{"guid":"9d742ee5-e914-4609-9585-dfdae7e6e507","type":"story-page","description":"3","properties":{"topMask":false,"bottomMask":false,"flip_interval":15,"background":{"gradient":{"colors":[{"hex":"#00b3e0","alpha":1},{"hex":"#b596e1","alpha":1}],"direction":"diagonal"},"blur":false},"hidden":"false","disable_tap_zones":false,"log_view":false},"content":[{"guid":"acdcf6b3-6d81-444a-8bc6-b1f1ae9f747c","type":"layout-linear","properties":{"orientation":"vertical","background":{"gradient":{},"blur":false},"hidden":"false","type":"grouped","size":{"height":{},"width":{}},"corner_radius":{"units":"pixels"},"alignment":"leading"},"content":[{"guid":"1d4dd1d8-0b23-46d9-ba5b-9b12944ae18e","type":"layout-linear","properties":{"orientation":"horizontal","background":{"gradient":{"colors":[{"hex":"#ffffff","alpha":0.3}]},"blur":false},"hidden":"false","type":"grouped","size":{"height":{}},"margin":{"bottom":12},"alignment":"center"},"content":[{"guid":"f7ad7365-9b18-4fc0-af9f-02a15c352225","type":"image","properties":{"url":"https://static2.tinkoff.ru/portfolio/stories/images/331_4a.png","alignment":"center","size":{"height":{"value":232,"units":"pixels"},"width":{"value":288,"units":"pixels"}},"margin":{"top":0,"bottom":0},"content_mode":"fill","alpha":1,"background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false}}}]},{"guid":"cec5e6b6-f93f-44f0-a112-4a9bf2f4cf50","type":"layout-linear","properties":{"orientation":"vertical","background":{"gradient":{"colors":[]},"blur":false},"hidden":"false","type":"grouped","size":{"height":{}},"corner_radius":{"units":"pixels"},"alignment":"center"},"content":[{"guid":"76c89399-ed4f-405f-8e2f-215d9b071117","type":"layout-linear","description":"копия","properties":{"orientation":"horizontal","hidden":"false","type":"grouped","alignment":"leading"},"content":[{"guid":"adcc711b-3dfd-4a59-897f-9266ec93ae72","type":"label","properties":{"text":"Введите номер карты и\xa0сумму, которую хотите внести на\xa0счет. Нажмите кнопку «Оплатить». ","font_size":17,"font_type":"normal","font_color":{"hex":"#ffffff","alpha":1},"alignment":"leading","background":{"gradient":{"colors":[],"direction":"vertical"},"blur":false},"margin":{"left":16,"right":16}},"content":[]}]},{"guid":"3cb58213-5882-494a-92d0-637e7bc16028","type":"layout-linear","properties":{"orientation":"horizontal","topMask":false,"bottomMask":false,"background":{"gradient":{"colors":[],"direction":"diagonal"},"blur":false},"hidden":"false","type":"grouped","size":{"height":{"value":0,"units":"pixels"},"width":{"value":0,"units":"pixels"}},"padding":{"top":0,"bottom":0,"left":0,"right":0},"margin":{"top":16,"bottom":0,"left":0,"right":0},"corner_radius":{"value":0,"units":"pixels"},"border":{"width":0},"alignment":"trailing"},"content":[{"guid":"583c0954-6934-40f0-bbc0-442687498ddf","type":"label","properties":{"text":"Пополнить карту","font_size":15,"font_type":"normal","font_color":{"hex":"#000000","alpha":1},"alignment":"center","corner_radius":{"value":"50","units":"percent"},"background":{"gradient":{"colors":[{"hex":"#ffdd2c","alpha":1}],"direction":"diagonal"},"blur":false},"size":{"height":{"value":"36","units":"pixels"},"width":{"value":"0","units":"pixels"}},"padding":{"top":"0","bottom":"0","left":"32","right":"32"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"},"border":{"width":0},"actions":[{"type":"deeplink","parameters":"{\\\\"url\\\\":\\\\"tinkoffbank://Main/Pay?Provider=strelka\\\\"}"},{"type":"common_request","parameters":"{\\\\"url\\\\":\\\\"{{cta_url}}\\\\"}"}]}}]},{"guid":"b0aade75-d138-4e56-9905-ec13c2d81b41","type":"layout-linear","properties":{"orientation":"horizontal","hidden":"false","type":"grouped","alignment":"center"},"content":[]}]}]}]}]}'],
      dtype=object)

In [38]:
reaction['event'].unique()

array(['view', 'skip', 'like', 'dislike'], dtype=object)

In [33]:
customers[['product_{}'.format(i) for i in range(6)]].describe()

       product_0 product_1 product_2 product_3 product_4 product_5
count       1599     23725      4391      6813      2182     33426
unique         2         3         3         2         3         3
top          UTL       UTL       UTL       UTL       UTL       UTL
freq        1582     20412      1895      3725      1384     32078

In [36]:
customers['product_0'].unique()

array([nan, 'UTL', 'CLS'], dtype=object)

In [46]:
reaction.groupby('event').count()['customer_id']/reaction.shape[0]

event
dislike    0.013896
like       0.119810
skip       0.354159
view       0.512135
Name: customer_id, dtype: float64

In [67]:
reaction['event_dttm'] = pd.to_datetime(reaction['event_dttm'])
reaction.set_index('event_dttm', inplace=True)

In [92]:
reaction['Morning'] = (reaction.index.hour<12).astype('int')
reaction['Evening'] = (reaction.index.hour>18).astype('int')
reaction['Midday'] = np.all([reaction.index.hour<=18, reaction.index.hour>=12], axis=0).astype('int')

In [91]:
np.all([reaction.index.hour<=18, reaction.index.hour>=12], axis=0).astype('int')

array([1, 0, 1, ..., 0, 0, 0])

In [84]:
reaction.index.hour<=6

array([False, False, False, ...,  True, False,  True])

In [85]:
reaction.index.hour>=12

array([ True, False,  True, ..., False,  True, False])

In [88]:
reaction.index.hour

Int64Index([15,  8, 13,  5,  2,  1, 15,  5,  8,  9,
            ...
             8, 10, 19,  6, 19,  6, 19,  6, 19,  6],
           dtype='int64', name='event_dttm', length=473141)

In [95]:
reaction[reaction['Evening'] == 1].groupby('event').count()['customer_id']/reaction['Evening'].sum()

event
dislike    0.013806
like       0.121553
skip       0.334123
view       0.530518
Name: customer_id, dtype: float64

In [96]:
reaction[reaction['Morning'] == 1].groupby('event').count()['customer_id']/reaction['Morning'].sum()

event
dislike    0.013787
like       0.121159
skip       0.353936
view       0.511117
Name: customer_id, dtype: float64

In [97]:
reaction['Morning'].sum()

291352

In [98]:
reaction['Midday'].sum()

154772

In [99]:
reaction[reaction['Midday'] == 1].groupby('event').count()['customer_id']/reaction['Midday'].sum()

event
dislike    0.014118
like       0.116966
skip       0.358075
view       0.510842
Name: customer_id, dtype: float64

In [138]:
loyal = reaction.groupby('customer_id').count()[(reaction.groupby('customer_id').count()['story_id'] > 100)].index
customers[customers['customer_id'].apply(lambda x: x in loyal)]

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,gender_cd,age,marital_status_cd,children_cnt,first_session_dttm,job_position_cd,job_title
187,335762,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,2016-06-20 07:54:24,22,NaN
201,575563,NaN,NaN,UTL,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,2017-05-22 16:03:36,11,NaN
299,471549,NaN,NaN,UTL,NaN,NaN,UTL,UTL,M,30.0,UNM,0.0,2017-01-25 13:16:40,22,NaN
395,703390,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,25.0,NaN,0.0,2017-09-18 05:07:40,16,Неруководящий сотрудник - специалист
434,508636,NaN,NaN,OPN,NaN,NaN,UTL,NaN,M,35.0,NaN,0.0,2017-03-20 08:16:23,22,NaN
684,341384,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,45.0,NaN,0.0,2016-06-29 10:55:50,22,NaN
850,201384,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,NaN,2015-06-30 21:59:13,22,NaN
854,168303,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,35.0,NaN,NaN,2015-02-11 09:35:17,2,NaN
1038,662972,NaN,UTL,NaN,UTL,NaN,UTL,NaN,M,40.0,MAR,0.0,2017-11-06 17:36:11,16,NaN
1208,218142,NaN,UTL,UTL,NaN,NaN,UTL,NaN,M,25.0,MAR,0.0,2015-09-05 07:54:15,4,Генеральный директор
1372,185715,NaN,NaN,NaN,CLS,NaN,UTL,NaN,F,30.0,NaN,NaN,2015-04-21 06:55:13,22,Бухгалтер
1397,809054,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,40.0,MAR,0.0,2018-01-02 16:02:31,17,начальник отдела
1410,227218,NaN,NaN,NaN,CLS,NaN,UTL,NaN,M,30.0,NaN,0.0,2015-10-05 13:47:48,22,Начальник отдела
1454,369530,NaN,NaN,CLS,CLS,NaN,UTL,NaN,M,30.0,NaN,0.0,2016-08-31 08:01:36,22,NaN
1478,465339,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,UNM,0.0,2017-01-25 10:47:55,16,старший гос инспектор
1507,146597,NaN,NaN,NaN,CLS,NaN,UTL,NaN,F,25.0,NaN,NaN,2014-10-12 06:50:44,22,NaN
1513,618745,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,20.0,NaN,0.0,2017-06-28 09:18:13,11,NaN
1585,917520,NaN,CLS,UTL,NaN,NaN,UTL,NaN,M,30.0,UNM,0.0,2018-04-09 12:13:03,16,старший преподаватель
1590,332300,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,30.0,NaN,0.0,2016-06-14 19:09:30,22,NaN
1655,718950,NaN,NaN,NaN,CLS,NaN,UTL,NaN,M,25.0,NaN,0.0,2017-10-04 17:22:25,22,NaN
1676,95578,NaN,NaN,UTL,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2013-09-15 10:38:10,22,Оператор по подбору персонала
1742,597097,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,0.0,2017-06-15 07:38:58,16,ПРОРАБ
1883,623355,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2017-07-03 08:27:24,16,Неруководящий сотрудник - специалист
1920,661419,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,2017-08-06 18:29:38,2,Собственный неофициальный бизнес
1944,714602,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2017-09-29 17:56:15,22,NaN
1973,387994,NaN,NaN,NaN,UTL,NaN,UTL,NaN,F,35.0,NaN,0.0,2016-09-27 13:23:23,22,NaN
2078,268960,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,35.0,MAR,0.0,2016-03-11 07:20:44,22,NaN
2154,397532,UTL,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,UNM,0.0,2016-10-22 13:30:31,2,Собственный неофициальный бизнес
2174,673801,NaN,NaN,NaN,CLS,NaN,UTL,NaN,M,30.0,NaN,0.0,2017-08-19 09:03:43,11,NaN
2272,192859,NaN,UTL,NaN,UTL,NaN,UTL,NaN,M,30.0,MAR,0.0,2015-06-02 16:20:55,11,Программист ООО Бизнес Решение
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48158,293779,NaN,NaN,NaN,NaN,CLS,UTL,NaN,M,35.0,NaN,0.0,2016-03-23 10:25:07,22,Руководитель отдела исследований и разработки
48178,280534,NaN,UTL,NaN,CLS,NaN,UTL,NaN,F,35.0,UNM,0.0,2016-02-23 16:38:59,17,Коммерческий директор
48260,742954,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,35.0,NaN,0.0,2017-10-31 09:35:40,22,NaN
48324,478369,NaN,NaN,UTL,NaN,NaN,UTL,NaN,M,20.0,NaN,0.0,2017-02-05 11:21:58,22,NaN
48346,644377,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2017-07-23 13:22:07,22,NaN
48360,86179,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2013-07-03 16:52:35,22,Архитектор информационных систем
48362,410629,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,NaN,0.0,2016-11-03 09:21:38,22,NaN
48369,622372,NaN,UTL,NaN,NaN,NaN,OPN,NaN,F,25.0,UNM,0.0,2017-07-04 17:46:46,20,Менеджер по работе с клиентами
48384,499959,NaN,NaN,CLS,UTL,NaN,UTL,NaN,M,25.0,NaN,0.0,2017-03-14 12:15:26,2,Собственный официальный бизнес
48403,956069,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,35.0,NaN,0.0,2018-05-11 15:03:36,16,Инженер
48415,789704,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2017-12-13 07:01:48,22,NaN
48489,104248,NaN,UTL,UTL,NaN,NaN,UTL,NaN,M,45.0,DIV,0.0,2013-11-20 13:15:32,11,NaN
48491,953319,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,15.0,NaN,0.0,2018-05-10 17:01:43,11,Учащийся
48531,597700,NaN,NaN,CLS,NaN,NaN,UTL,NaN,M,40.0,NaN,0.0,2017-06-16 16:33:44,22,Начальник сектора
48691,297343,NaN,UTL,CLS,NaN,UTL,UTL,NaN,M,25.0,UNM,0.0,2016-03-30 10:46:17,16,Неруководящий сотрудник - специалист
48865,475522,NaN,NaN,UTL,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2017-01-31 09:03:23,16,Ведущий консультант
48902,404594,NaN,NaN,UTL,NaN,NaN,UTL,NaN,M,35.0,NaN,0.0,2016-10-25 09:48:14,2,Собственный официальный бизнес
49068,169371,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,30.0,NaN,NaN,2015-02-14 11:50:10,22,Инженер
49085,316837,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,2016-05-11 10:12:52,11,NaN
49146,221936,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,35.0,MAR,0.0,2015-09-16 15:50:45,17,Главный технолог
49299,385659,UTL,UTL,UTL,CLS,NaN,UTL,NaN,M,25.0,UNM,0.0,2016-09-22 09:59:52,17,NaN
49356,111287,NaN,CLS,NaN,CLS,NaN,UTL,OPN,M,40.0,MAR,0.0,2017-01-28 14:28:51,2,Собственный официальный бизнес
49402,468526,NaN,NaN,UTL,CLS,NaN,UTL,NaN,F,20.0,NaN,0.0,2017-01-28 09:14:50,22,NaN
49540,778689,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,NaN,0.0,2017-12-30 13:18:00,22,NaN
49560,927968,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,20.0,UNM,0.0,2018-04-18 17:59:36,16,Специалист
49595,872437,NaN,NaN,UTL,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,2018-03-01 05:50:03,22,NaN
49837,207855,NaN,NaN,NaN,CLS,NaN,UTL,NaN,F,20.0,NaN,0.0,2015-07-23 17:22:21,22,NaN
49891,556833,NaN,NaN,CLS,NaN,NaN,UTL,NaN,M,25.0,NaN,0.0,2017-05-04 10:55:25,22,NaN
49901,933323,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,15.0,NaN,0.0,2018-04-22 10:05:07,22,NaN
49932,108149,NaN,NaN,NaN,UTL,NaN,UTL,UTL,M,40.0,MAR,0.0,2013-12-13 08:05:03,16,РЕДАКТОР

In [139]:
unloyal = reaction.groupby('customer_id').count()[(reaction.groupby('customer_id').count()['story_id'] < 5)].index
customers[customers['customer_id'].apply(lambda x: x in unloyal)]

,customer_id,product_0,product_1,product_2,product_3,product_4,product_5,product_6,gender_cd,age,marital_status_cd,children_cnt,first_session_dttm,job_position_cd,job_title
4,877312,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,0.0,2018-03-07 11:17:02,22,NaN
5,821806,NaN,NaN,NaN,UTL,NaN,UTL,NaN,F,25.0,NaN,0.0,2018-01-15 09:23:54,22,NaN
6,782728,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,0.0,2017-12-26 09:02:58,22,NaN
7,540071,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2018-05-07 16:05:38,11,NaN
13,307008,NaN,CLS,UTL,NaN,NaN,CLS,NaN,M,40.0,UNM,1.0,2016-04-20 07:59:34,22,NaN
21,143055,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,MAR,1.0,2014-09-18 15:44:26,2,фотограф
24,195762,NaN,CLS,NaN,NaN,NaN,UTL,NaN,M,40.0,MAR,0.0,2016-06-05 17:17:48,16,РАБОЧИЙ
26,761975,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,0.0,2017-12-03 14:19:27,19,Торговый представитель
33,303498,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,35.0,NaN,0.0,2016-04-11 08:40:30,22,NaN
36,341657,NaN,NaN,NaN,UTL,NaN,UTL,NaN,F,45.0,NaN,0.0,2016-07-03 11:40:34,22,NaN
43,122515,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,30.0,UNM,0.0,2014-04-01 08:07:12,17,Архитектор программного обеспечения
44,167588,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,45.0,NaN,NaN,2015-02-10 19:42:59,22,NaN
49,99627,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,NaN,2013-11-14 05:38:56,22,Продавец
50,63986,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,NaN,2013-01-28 08:34:18,22,NaN
51,837267,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,25.0,MAR,0.0,2018-01-29 08:00:21,20,маляр
53,651142,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,20.0,NaN,0.0,2017-07-27 13:06:54,11,NaN
55,899183,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,25.0,MAR,0.0,2018-06-04 13:09:53,22,NaN
60,526279,UTL,UTL,NaN,NaN,NaN,NaN,NaN,F,30.0,UNM,0.0,2018-01-16 16:47:02,1,бармен
62,757900,NaN,CLS,NaN,NaN,NaN,NaN,UTL,M,45.0,UNM,0.0,2017-11-14 07:45:10,4,генеральный директор
64,15142,NaN,CLS,NaN,CLS,NaN,UTL,NaN,F,35.0,UNM,0.0,2013-05-26 11:14:06,16,старший специалист
70,6104,NaN,CLS,NaN,NaN,NaN,UTL,NaN,M,40.0,UNM,0.0,2013-07-10 15:08:24,1,ПАРИКМАХЕР-СТИЛИСТ
73,955325,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,50.0,NaN,NaN,2018-05-20 13:48:58,22,NaN
77,231802,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,55.0,MAR,0.0,2016-02-11 06:44:40,16,NaN
80,947839,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,NaN,0.0,2018-05-04 09:21:12,22,NaN
81,696013,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,NaN,0.0,2017-09-08 11:38:05,22,Первый заместитель ГД
85,173789,NaN,NaN,NaN,CLS,NaN,UTL,NaN,F,35.0,NaN,0.0,2015-12-08 16:44:04,22,NaN
86,23678,NaN,CLS,NaN,NaN,NaN,UTL,NaN,M,55.0,DIV,1.0,2013-02-19 11:38:59,22,NaN
87,859062,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,25.0,NaN,0.0,2018-02-17 12:45:38,22,NaN
90,519337,NaN,UTL,NaN,NaN,NaN,UTL,NaN,F,30.0,CIV,3.0,2017-03-25 11:30:23,16,NaN
91,866732,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,0.0,2018-03-27 12:52:21,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49928,802622,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,55.0,UNM,0.0,2018-01-01 08:46:14,8,NaN
49930,680531,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,40.0,UNM,0.0,2017-10-21 07:11:41,17,Заместитель директора
49931,711728,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,35.0,MAR,0.0,2018-04-27 11:56:41,20,торговый представитель
49933,544173,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,UNM,0.0,2017-05-01 04:44:44,16,ТРЕНЕР ПРЕПОДАВАТЕЛЬ
49938,307687,NaN,NaN,NaN,UTL,NaN,UTL,NaN,M,30.0,NaN,0.0,2016-04-20 12:31:38,22,NaN
49940,425909,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,NaN,0.0,2016-11-28 06:34:12,11,NaN
49947,726583,NaN,NaN,CLS,UTL,NaN,UTL,NaN,M,25.0,NaN,0.0,2017-10-12 17:55:13,11,NaN
49952,678509,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,NaN,0.0,2017-08-21 18:43:29,22,NaN
49953,176006,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,NaN,NaN,2015-03-20 10:51:54,22,Инженер
49954,65704,NaN,OPN,NaN,NaN,NaN,UTL,NaN,M,35.0,UNM,0.0,2016-12-09 23:53:21,16,ИНЖЕНЕР
49955,356728,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,UNM,0.0,2016-08-04 15:44:46,17,директор департамента продаж
49958,697827,NaN,NaN,NaN,CLS,NaN,UTL,NaN,F,30.0,NaN,0.0,2017-09-27 18:36:42,22,Ведущий дизайнер
49961,729128,UTL,UTL,NaN,NaN,NaN,UTL,NaN,M,40.0,UNM,0.0,2017-10-13 09:09:33,22,NaN
49962,188975,NaN,NaN,NaN,CLS,NaN,UTL,NaN,M,30.0,NaN,NaN,2015-05-06 15:49:01,22,Менеджер
49964,890431,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,45.0,MAR,0.0,2018-04-13 13:24:33,20,электромонтер
49965,673818,NaN,UTL,UTL,UTL,NaN,UTL,NaN,M,25.0,UNM,0.0,2017-08-17 13:04:29,16,NaN
49969,677177,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,30.0,UNM,0.0,2017-09-10 05:55:48,16,Менеджер
49970,456376,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,20.0,NaN,0.0,2017-01-08 17:28:49,11,NaN
49971,683014,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0.0,2017-08-29 16:04:47,11,NaN
49972,480933,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,40.0,MAR,2.0,2017-02-13 20:31:06,16,бизнес-тренер
49973,41434,NaN,UTL,NaN,NaN,NaN,NaN,NaN,F,30.0,MAR,1.0,2012-06-10 15:14:45,16,торговый пр-ль
49977,956410,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,25.0,UNM,0.0,2018-05-14 14:08:52,1,NaN
49981,621810,NaN,NaN,NaN,NaN,NaN,UTL,NaN,M,40.0,DIV,0.0,2017-11-09 08:23:06,22,NaN
49982,381440,UTL,NaN,NaN,NaN,NaN,UTL,NaN,F,25.0,UNM,0.0,2017-05-18 08:20:31,16,NaN
49983,794063,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,25.0,UNM,0.0,2017-12-19 11:45:37,16,Менеджер по рекламе
49986,491282,NaN,UTL,NaN,NaN,NaN,UTL,NaN,M,30.0,NaN,0.0,2017-03-02 12:01:46,1,Неруководящий сотрудник - обсл. Персонал
49987,343679,NaN,UTL,NaN,NaN,UTL,UTL,NaN,M,25.0,UNM,0.0,2016-07-03 12:58:56,2,Собственный официальный бизнес
49988,707577,NaN,NaN,NaN,NaN,NaN,UTL,NaN,F,30.0,NaN,0.0,2017-11-28 18:15:17,22,NaN
49990,241440,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,35.0,MAR,2.0,2017-10-09 07:30:31,11,НЕ РАБОТАЕТ
49995,478743,NaN,UTL,NaN,NaN,NaN,NaN,NaN,M,30.0,MAR,2.0,2017-10-24 08:18:09,20,монтажник